<!DOCTYPE html>
<html>
    <head>
        <title>School News</title>
        <style>
            body {
                background-color: #ffff00;
            }
            h1 {
                text-align: center;
            }
        </style>
    </head>
<body>
        <h1>School News</h1>
        <h2>Weather Warning</h2>
        <i>by Allen White. 20/03/2023</i>
        <p>According to the weather forecast, there will be heavy snow tomorrow which might cause some disruptions for the transportation</p>
        <h2>Back to in-person teaching</h2>
        <i>by David Black. 01/02/2023</i>
        <p>This year, we will all go back to in-person teaching.</p>

        <div>
          {% if list %}
            {% for Page in list %}
            <h2> {{Page.title}} </h2>
            <p><i>created by {{Page.author}}, &emsp; {{Page.date}} </i></p>
            <p>{{news.description}}</p><br><br>
            {% endfor %}
            (% else %}
            <strong> No news available today.</strong>
            {% endif %}

        </div>
    </body>
</html>